
body {	background-color:#FEFAF6; text-align: center; }

#container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;	
}

h1 {
	font-family: "Consolas";
	color:#ba6084;
}


#header{	
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

hr {	
	background-color: #f2c6e9;
	height: 1px;
	margin: 10px;	
}


/* botoes e menus */

.menu {
	border-radius: 4px;
	padding: 16px;
	padding-left: 34px;
	padding-right: 34px;
	margin: 4px;
	background-color: #ffe7d3;
	color:#cedaed;
	text-align: center;
	list-style: none;

}

.menu:hover{
	
	background-color: #FCF1DC;
}

a {
	font-family: "Consolas";
	color: #b74e49;
	text-decoration: none;
}

a:hover {
	font-family: "Consolas";
	color: #cc76ba;
	text-decoration: underline;
}


.button {
border-radius: 4px;
border-style:none;
font-size: 16px;
padding: 16px;
padding-left: 34px;
padding-right: 34px;
background-color:#D1E8EE;
color: #191e1a;
font-family: "Consolas";	
margin-left: 2px; 
}

.button:hover {
  background-color: #D6DFE2; 
   color: #455448;
}

.button2 {
border-radius: 4px;
padding: 6px;
padding-left: 10px;
padding-right: 10px;
background-color:#D1E8EE;
color: #191e1a;
font-family: "Consolas";
font-size: 16px;	 
}

.button2:hover {
  background-color: #D6DFE2; 
   color: #455448;
}

.button3 {
border-radius: 4px;
padding: 6px;
padding-left: 10px;
padding-right: 10px;
background-color:#e25d73;
color: #191e1a;
font-family: "Consolas";
font-size: 16px;	 
}

.button3:hover {
  background-color: #e5526a; 
   color: #455448;
}


#menu2 {

	display:flex;
	flex-direction: row;
	
}

.menu2 {
	border-radius: 4px;
	padding: 16px;
	padding-left: 34px;
	padding-right: 34px;
	margin: 4px;
	background-color: #ffe7d3;
	color:#cedaed;
	text-align: center;
	list-style: none;

}


.menu2:hover{
	
	background-color: #FCF1DC;
}
/*  */


/* forms e inputs */
form {
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.form_item {
	margin: 14px;
	display: flex;
	flex-direction: column;
	font-family: "Consolas";
	color:#ba6084;
	font-size: 18px;
}

#descricao {
	
	height: 150px;
	width: 280px;
	
}

input{ margin:4px; display:flex; margin:0 auto;}

/* */