
body {	background-color:#FEFAF6; text-align: center; font-family: Consolas;}

label{
	padding: 4px;	
}

table {
	background-color: #d5eddd;
	border: none;
	margin: 4px;
	border-radius: 2px;
}

th{
	padding: 8px;
	background-color: #A1DAA4;
	border-radius: 2px;
}

tr{
	padding: 8px;
	color: #334c3b;
	border-radius: 2px;
}

#container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;	
}

h1 {
	font-family: "Consolas";
	color:#ba6084;
}

h2 {
	font-size: 22px;
	color:#ba6084;
	justify-self: flex-start;
	align-self: center;
}

h3 {
	font-size: 22px;
	color:#ba3b56;
	justify-self: flex-start;
	align-self: center;
}


#header{	
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

hr {	
	background-color: #f2c6e9;
	height: 1px;
	margin: 10px;	
}



/* botoes e menus */

.menu {
	border-radius: 4px;
	padding: 16px;
	padding-left: 34px;
	padding-right: 34px;
	margin: 4px;
	background-color: #ffe7d3;
	color:#cedaed;
	text-align: center;
	list-style: none;

}

.menu:hover{
	
	background-color: #FCF1DC;
}

a {
	font-family: "Consolas";
	color: #b74e49;
	text-decoration: none;
}

a:hover {
	font-family: "Consolas";
	color: #cc76ba;
	text-decoration: underline;
}


.button {
border-radius: 4px;
border-style:none;
font-size: 16px;
padding: 16px;
padding-left: 34px;
padding-right: 34px;
background-color:#D1E8EE;
color: #191e1a;
font-family: "Consolas";	
margin-left: 2px; 
}


.btnSalvar {
border-radius: 4px;
border-style:none;
font-size: 16px;
padding: 16px;
padding-left: 34px;
padding-right: 34px;
background-color:#a55c78;
color: #191e1a;
font-family: "Consolas";	
margin: auto auto 0
}

.btnSalvar:hover {
background-color:#b7738d;
}

.button:hover {
  background-color: #D6DFE2; 
   color: #455448;
}

.button2 {
border-radius: 4px;
padding: 6px;
padding-left: 10px;
padding-right: 10px;
background-color:#D1E8EE;
color: #191e1a;
font-family: "Consolas";
font-size: 16px;	 
}

.button2:hover {
  background-color: #D6DFE2; 
   color: #455448;
}

.button3 {
border-radius: 4px;
padding: 6px;
padding-left: 10px;
padding-right: 10px;
background-color:#e25d73;
color: #191e1a;
font-family: "Consolas";
font-size: 16px;	 
}

.button3:hover {
  background-color: #e5526a; 
   color: #455448;
}


#menu2 {

	display:flex;
	flex-direction: row;
	
}

.menu2 {
	border-radius: 4px;
	padding: 16px;
	padding-left: 34px;
	padding-right: 34px;
	margin: 4px;
	background-color: #ffe7d3;
	color:#cedaed;
	text-align: center;
	list-style: none;

}


.menu2:hover{
	
	background-color: #FCF1DC;
}


.menu3 {
	border-radius: 4px;
	padding: 16px;
	padding-left: 34px;
	padding-right: 34px;
	margin: 4px;
	background-color: #e5f2d5;
	color:#cedaed;
	text-align: center;
	list-style: none;

}


.menu3:hover{
	
	background-color: #eef7e3;
}
/*  */


/* forms e inputs */


.form_item {

}

.container_formularios{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 4px;
	flex-wrap:none;
}

#descricao {
	align-self:center;
	height: 100px;
	width: 250px;
	
}

/*input{ margin:8px; margin:0 auto; }*/

#login {
	margin: 14px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: "Consolas";
	color:#ba6084;
	font-size: 18px;
	text-align: center;
}

#centro {align-self: center; margin: auto;}

.modelos {
	margin:2px;
	padding: 8px;
	border-width: 6px;
	border-style: dashed;
	border-color: #a59577;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: start;
	background-color: #ede9d7;

}

.checkbox{
	
display: inline-block;
padding: 8px;
font-size: 16px;
text-align: center;
color: #490c2a;
}

#container_cadastros{
padding: 8px;
display: flex;
align-items: space-around;
justify-content: space-evenly;
width:100%;
height:100%;
margin: 8px;
}

/* */